{% extends 'email.html.twig' %}

{% block body %}
    <a href="{{ absolute_url(path('security_reset_password', {token: user.forgottenPasswordToken})) }}">{{ absolute_url(path('security_reset_password', {token: user.forgottenPasswordToken})) }}</a>
{% endblock %}
