{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(vm.form) }}
        {{ form_errors(vm.form) }}
        {{ form_rest(vm.form) }}
        <button>Reset</button>
    {{ form_end(vm.form) }}
{% endblock %}
